@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.white{
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
}
.laranjao {
    color: transparent; /* Torna o texto transparente */
    -webkit-text-stroke: 4px #8B0000; /* Adiciona a borda ao redor do texto */
    background: #FFC04D;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    
}

.marrom{
    background: #601802;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    
}
.vinho-marrom {
    background: linear-gradient(45deg, #8B0000, #601802);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
}

.icon_label{
    display: flex;
    gap: 0.50rem;
    color: #601802 ;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-overflow: clip;
    margin-top: 5px !important;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

input{
    background-color: transparent;
}

.body-with-grain-texture {
    background: linear-gradient(45deg, #FFC04D , #FE800A 25%, transparent 25%, transparent 75%, #FE800A 75%, #E5392C),
        url('/imgs/ink-splash.png'),
     linear-gradient(45deg, #601802 25%, transparent 25%, transparent 75%, #E5392C 75%, #601802);
     background-size: contain;
}

    
.body-principal{
    background-image: url('/imgs/img1.jpg');
}

textarea{
    background-color: transparent;
}

#grid{
    display: grid !important;
}

.gradient-border {
    border: 8px solid transparent;
    background-image: linear-gradient(to right top, #AA2704 15%, transparent 15% 85%, #AA2704 85%);
    background-origin: border-box;
    background-clip: border-box;
}

@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value for the desired height of levitation */
    }
    100% {
      transform: translateY(0);
    }
}

  
.levitating {
    animation: levitate 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}

