/* Até 400px */
@media screen and (max-width: 400px) {
    #title-cia{
      margin-top: -8px;
    }

    #slide-quemSomos{
       padding-right: 100px;
    }
    #formacao{
        font-size: 13px;
    }
    #divPrincipal {
        grid-template-rows: repeat(2, 2fr) !important;
        grid-template-columns: repeat(2, 2fr) !important;
    }
    
    #grid-row {
        display: grid !important;
        width: 90%;
        grid-template-rows: 0.3fr 2fr 2fr 2fr 2fr 2fr !important;
        grid-template-columns: repeat(2, 2fr) !important;
    }
    .text-card{
        font-size: 10px;
    }
    .imagem{
        width: 400px;
    }
}   

/* Até 600px */
@media screen and (max-width: 600px) {
    #title-cia{
      font-size: 60px !important;
      margin: 15px;
      
    }
    #slide-quemSomos{
        padding-right: 20px;
    }

    #grid-row {
        display: grid !important;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #membros-desc{
        grid-column: span 2 / span 2;
    }
    #grid-row-card {
        display: grid !important;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }
    #slider-sobreNos{
        width: 100%;
        height: 100%;
    }
    #card-sobreNos{
        margin-top: -20px;
        margin-left: -35px;
        height: 600px !important;
    }

}
/* Uncover: 600 - 970 */

/* A partir de 970px */
@media screen and (min-width: 970px){
    #grid-row-card {
        display: grid !important;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #div-historia{
        grid-column: span 2 / span 2;
    }
}

/* Até 979px */
/* Pega de 600 a 979 */
@media screen and (max-width: 979px){
    #divPrincipal{
        display: grid !important;
        gap: 15px;
    }
    #slide-quemSomos{
        margin: 10px;
    }
   
    #title-cia{
        font-size: 60px !important;
        margin: 15px; 
    }
    #grid-row {
        display: grid !important;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #membros-desc{
        grid-column: span 2 / span 2;
    }
}

/* De 980 a 1149 */
@media screen and (min-width: 980px) and (max-width: 1149px) {
  #title-cia {
    font-size: 80px;
  }
   

  #slide-quemSomos{
      margin: 10px;
  }
  #grid-row {
      display: grid !important;
      grid-template-rows: 0.3fr 1fr 1fr !important;
      grid-template-columns: repeat(4, 1fr) !important;
  }
  #membros-desc{
      grid-column: span 4 / span 4;
  }
  #grid-row-card {
      display: grid !important;
      grid-template-rows: repeat(2, 1fr) !important;
      grid-template-columns: repeat(2, 1fr) !important;
  }
  #div-historia{
      grid-column: span 2 / span 2;
  }
    .motion-section-atv{
     margin-top: 600px;
    }

}
  
/* de 1149 até infinito e além */
@media screen and (min-width: 1150px) {

    #title-cia {
      font-size: 120px;
    }

    #slide-quemSomos{
        margin: 15px;
    }

    #div-membros{
        height: 80%;
    }

    #grid-row {
        display: grid !important;
        grid-template-rows: 0.3fr 1fr  !important;
        grid-template-columns: repeat(6, 1fr) !important;
    }
    #membros-desc{
        grid-column: span 6 / span 6;
    }
    
    #grid-row-card {
        display: grid !important;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #div-historia{
        grid-column: span 2 / span 2;
    }
    .motion-section{
        margin-bottom: 120px;
    }
}
